h1 {
  color: white;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.main-container .options-container {
  overflow: hidden;
  padding: 5px;
  height: 50px;
}
.main-container .timer-options {
  border-radius: 30px;
  color: white;
  display: flex;
  width: 400px;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(15 56 138 / 30%);
  padding: 5px;
  transition: 1s;
  height: 30px;
}
.timer-options.hidden {
  transform: translateY(-150px);
}
.timer-options .timer-opt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 150px;
  height: 30px;
  padding: 2px;
  text-align: center;
  border-radius: 30px;
  transition: all 0.3s;
}
.timer-options .timer-opt:hover {
  background-color: tomato;
  cursor: pointer;
}
.main-clock {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
svg {
  box-shadow: -20px 12px 80px 1px #000c24, -5px -10px 80px 0px #162159,
    inset -15px -15px 80px 5px #162159;
  height: 410px;
  width: 410px;
  position: relative;
  border-radius: 50%;
  background-color: #000c24;
  transform: rotate(-90deg);
}
circle {
  fill: none;
  stroke-width: 15px;
  transform: translate(25px, 25px);
  stroke-dasharray: 1131;
  stroke-dashoffset: 1131;
}
circle:nth-child(1) {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-dashoffset: 0;
  transition: 0.4s;
}
circle:nth-child(2) {
  stroke: tomato;
  transition: 0.4s;
}
.inside-clock {
  margin-top: 85px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.inside-clock .time-left {
  font-size: 72px;
  font-weight: 800;
}
.inside-clock button {
  width: 32px;
  height: 32px;
  font-weight: 600;
  color: white;
  background-color: #10152f;
  font-size: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.inside-clock button i {
  font-size: 64px;
}
.inside-clock button:hover {
  background-color: tomato;
}
